<div id="dbip-updater-settings" class="adminTable card" style="margin-top: 30px; padding: 20px;">
    <div class="card-content">
        <h2>{{ 'DbipUpdater_Settings'|translate }}</h2>
        <p>{{ 'DbipUpdater_SettingsDescription'|translate }}</p>
        
        <div class="form-group">
            {{ settings.getSettingsHtmlForm('DbipUpdater')|raw }}
        </div>
    </div>
</div>
