<div class="geoipUpdateSection" style="margin-top: 2em; padding-top: 1em; border-top: 1px solid #ddd;">
    <h2>{{ 'DbipUpdater_Settings'|translate }}</h2>
    <p>{{ 'DbipUpdater_SettingsDescription'|translate }}</p>
    
    <div class="form-group">
        {{ settings.getSettingsHtmlForm('DbipUpdater')|raw }}
    </div>
</div>
