{% extends 'admin.twig' %}

{% block content %}
<div piwik-content-block content-title="{{ 'DbipUpdater_Settings'|translate }}">
    <p>{{ 'DbipUpdater_SettingsDescription'|translate }}</p>

    <div class="dbip-updater-section">
        <div piwik-form>
            {% if settings is defined and settings is not null %}
                {# Diese Funktion generiert das komplette Formular inklusive Speicher-Button
                   und sendet es an die korrekte Matomo Core Action zum Speichern von Systemeinstellungen. #}
                {{ settings.getSettingsHtmlForm('DbipUpdater')|raw }}
            {% else %}
                <div class="alert alert-danger">
                    {{ 'CorePluginsAdmin_PluginSettingsNotAvailable'|translate }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
